# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project

# My own
odkazy.pdf
.vscode
main
target

# Logs
*.jou
*.log


# Vivado temporary and log files
*.log
*.jou
*.str
*.os
.Xil/
vivado*.zip

# Local user and machine-specific settings
*.cache/
*.hw/
*.ip_user_files/

# Compilation results (Synthesis/Implementation)
*.runs/
*.sim/

# Ensure core project files are NOT ignored
!*.xpr
!*.srcs/
